body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 20px;
}

#comencar-partida {
    border-radius: 6px;
    cursor: pointer;
    
}

.input-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.lletres-container {
    font-size: 2em;
    margin-top: 20px;
}

.botons-container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

button {
    cursor: pointer;
}

#intents-container {
    margin-top: 10px;
}
